.main-container {
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 0px 3px 3px #d1d1e0;
    height: 50%;
    min-height: 400px;
    padding: 10px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.main-container h1 {
    color: #809fff;
    text-align: center;
}

.input-controls-parent-container {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-controls-container {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.input-controls-container label {
    color: #809fff;
    font-weight: bold;

}

.input-controls-container input {
    width: 60%;
    min-width: 200px;
    outline-color: #809fff;
    height: 25px;
}

.buttons-container {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calculator-button {
    width: 90px;
    height: 30px;
    background-color: #809fff;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 1px grey;
}